.grey-area{
    width: 70%;
    background-color: rgb(223, 223, 223);
    margin:0 auto;
    margin-top: 0px;
    min-height: 100vh;
}

@media screen and (max-width: 768px){
    .grey-area{
        width: 100%;
        background-color: rgb(223, 223, 223);
        margin:0 auto;
        margin-top: 0px;
        min-height: 100vh;
    }
    
}